.row-header{
    margin: 0px auto;
    padding:0px auto;
}

.row-content{
    margin: 0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}

.jumbotron{
    padding: 70px 30px 50px 30px;
    margin: 0px auto;
    background: #7986CB;
    color:white;
}

address{
    font-size:80px;
    margin:0px;
    color:#0f0f0f;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}